<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/" href="javascript:void(0);"
      ><i class="material-icons"> local_taxi </i>Cars</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"
      ><i class="material-icons"> flight </i>Flights</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="material-icons"> hotel </i>Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"
      ><i class="material-icons">directions_boat </i>Cruises</a
    >
  </li>
</ul>
