:root {
  --primary: #0c71ac;
  --secondary: #0a57a1;
  --tertiary: #13294e;
  --error: #d9222a;
  --warning: #b95000;
  --neutral: #ffffff;

  --primary-text: #1a2228;
  --secondary-text: #505660;
  --tertiary-text: #6a7078;
  --disabled-text: #6a7078;
  --links: #0c71ac;
  --pricing: #218336;
  --error-text: #d9222a;
}
