

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
.button i.material-icons {
  color: white;
}

.car-details{
  color: #fff;
  font-size: 12px;
}

.align-items-cars {
  margin-top: 46px;
  text-align: center;
}

.align-items-cars-2{
  text-align: center;
}